services:
  uptimekuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped
    
    ports:
      - "3001:3001"
      
    volumes:
      - ./data:/app/data
      
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true