services:
  portainer:
    image: portainer/portainer-ce:latest
    restart: unless-stopped
    
    ports:
      - "9443:9443"  # HTTPS (메인 접속)
    
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  portainer_data:
