
services:
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    restart: unless-stopped
    ports:
      - "5230:5230"
    volumes:
      - ./.memos/:/var/opt/memos
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true